
.searchBlock {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;

  input {
    padding: 14px 0;
    margin-right: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    width: 200px;
  }

  .removeSearch {
    position: absolute;
    right: 0;
  }

  .searchImg {
    padding: 0 14px 0 14px;
  }

  .clear {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}